@using EstacionamentoFinal.Models

@{
    ViewBag.Title = "Alterar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Setor s = ViewBag.Setores;
}

@using (Html.BeginForm("Alterar", "Setor", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Hidden("hdnId", s.IdSetor)
    <fieldset>
        <legend>Alterar Setor</legend>
        <div id="hdnId" class="form-group">
            @Html.Label("Id", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBox("txtId", s.IdSetor, new
           {
               @class = "form-control",
               @placeholder = "",
               @readonly = ""
           })
            </div>
        </div>

        <div id="Nome" class="form-group">
            @Html.Label("Nome", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBox("txtNome", s.Nome, new
           {
               @class = "form-control",
               @placeholder = ""
           })
            </div>
        </div>

        <div id="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Salvar" />
            </div>
        </div>
    </fieldset>
}

