@using EstacionamentoFinal.Models

@{
    ViewBag.Title = "Alterar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Vaga v = ViewBag.Vagas;
}

@using (Html.BeginForm("Alterar", "Vaga", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Hidden("hdnId", v.IdVaga)
    <fieldset>
        <legend>Alterar Vaga</legend>
        <div id="hdnId" class="form-group">
            @Html.Label("Id", new { @class = "control-label col-sm-2"})
            <div class="col-sm-10">
                @Html.TextBox("txtId", v.IdVaga, new { @class = "form-control",
                @placeholder = "", @readonly = ""})
            </div>
        </div>

        <div id="Identificador" class="form-group">
            @Html.Label("Identificador", new { @class = "control-label col-sm-2"})
            <div class="col-sm-10">
                @Html.TextBox("txtIdentificador", v.Identificador, new { @class = "form-control",
                @placeholder = ""})
            </div>
        </div>

        <div id="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Salvar"/>
            </div>
        </div>
    </fieldset>
}

