@model EstacionamentoFinal.Models.Vaga


@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Cadastrar", "Vaga", FormMethod.Post, new { @class = "form-horizontal" }))
{ 
    <fieldset>
        <legend>Cadastrar Vaga</legend>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div id="Setor" class="form-group">
            @Html.Label("Setor", new { @class = "control-label col-sm-2" })
            @*@Html.LabelFor(model => model.Setor, new { @class = "control-label col-sm-2"})*@
            <div class="col-sm-10">
                @*@Html.TextBox("txtSetor", "", new { @class = "form-control", @placeholder = "Setor da vaga"})*@
                @Html.DropDownList("Setor", null,
               "-- SELECIONE -- ", new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.Setor, null, new { @class = "text-danger"})
            </div>
            <div id="Quantidade" class="form-group">
                @Html.Label("Quantidade", new { @class = "control-label col-sm-2"})
                <div class="col-sm-2">
                    @Html.TextBox("txtQuantidade", "", new { @class = "form-control", @placeholder = "Quantidade"})
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Cadastrar" />
            </div>
        </div>
    </fieldset>
}