@*@model EstacionamentoFinal.Models.Veiculo*@
@using EstacionamentoFinal.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    CategoriaVeiculo cv = ViewBag.CategoriaVeiculos;
}
@using (Html.BeginForm("AlterarCategoria", "Veiculo", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.Hidden("hdnId", cv.IdCategoria)
    <fieldset>
        <legend>Alterar Categoria</legend>
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
        <div id="hdnId" class="form-group">
            @Html.Label("Id", new { @class = "control-label col-sm-2"})
            @*@Html.LabelFor(model => model.Tamanho, new { @class = "control-label col-sm2" })*@
            <div class="col-sm-10">
                @Html.TextBox("txtId", cv.IdCategoria , new {@class = "form-control", @placeholder = "", @readonly = "" })
                @*@Html.TextBoxFor(model => model.Tamanho, new { @class = "form-control", @placeholder = "Placa do veículo" })*@
                @*@Html.ValidationMessageFor(model => model.Tamanho, null, new { @class = "text-danger" })*@
            </div>
        </div>

        <div id="Tamanho" class="form-group">
            @Html.Label("Tamanho", new { @class = "control-label col-sm-2" })
            @*@Html.LabelFor(model => model.Tamanho, new { @class = "control-label col-sm2" })*@
            <div class="col-sm-10">
                @Html.TextBox("txtTamanho", cv.Tamanho, new { @class = "form-control", @placeholder = ""})
                @*@Html.TextBoxFor(model => model.Tamanho, new { @class = "form-control", @placeholder = "Placa do veículo" })*@
                @*@Html.ValidationMessageFor(model => model.Tamanho, null, new { @class = "text-danger" })*@
            </div>
        </div>

        <div id="Valor">
            @Html.Label("Valor", new { @class = "control-label col-sm-2" })
            @*@Html.LabelFor(model => model.Tamanho, new { @class = "control-label col-sm2" })*@
            <div class="col-sm-10">
                @Html.TextBox("txtValor", cv.Valor, new { @class = "form-control", @placeholder = "" })
                @*@Html.TextBoxFor(model => model.Tamanho, new { @class = "form-control", @placeholder = "Placa do veículo" })*@
                @*@Html.ValidationMessageFor(model => model.Tamanho, null, new { @class = "text-danger" })*@
            </div>
        </div>
        <br />
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" value="Alterar" />
                </div>
            </div>
</fieldset>
}