
@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Cadastrar", "Movimentacao", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Cadastrar Movimentação</legend>
        <div id="Placa" class="form-group">
            @Html.Label("Placa", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBox("txtPlaca", "", new { @class = "form-control", @placeholder = "Digite a placa do veículo" })
            </div>
        </div>

        <div id="Vaga" class="form-group">
            @Html.Label("Vaga", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @Html.TextBox("txtVaga", "", new { @class = "form-control", @placeholder = "Digite a numeração da vaga" })
            </div>
        </div>

        <div id="Entrada" class="form-group">
            @Html.Label("Entrada", new { @class = "control-label col-sm-2" })
            <div class="col-sm-10">
                @*@Html.TextBox("txtVaga", "", new { @class = "form-control", @placeholder = "Digite a numeração da vaga" })*@

            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Cadastrar" />
            </div>
        </div>
    </fieldset>
}


